*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    margin-bottom: 150px;
    /* border:  1px solid red; */
}

.header button{
    border: 1px solid var(--Pink);
    border-radius: 50px;
    width: 150px;
    padding: 10px;
    color: var(--Pink);
    background-color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.description{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description h1{
    font-size: 50px;
    color: var(--Very-Dark-Cyan);
}

.description p{
    color: var(--Very-Dark-Cyan);
    text-align: center;
    width: 35%;
    margin: 40px;
    font-weight: 400;
}

.description button{
    border-radius: 50px;
    width: 300px;
    padding: 20px;
    color: var(--Pink);
    background-color: var(--Pink);
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.mockups{
    background-image: url(/images/screen-mockups.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width: 100%;
    height: 850px;
    margin-bottom: 80px;
    /* border:  1px solid red; */
}

.icon1 h2::before{
    display: flex;
    content: url(/images/icon-communities.svg);
    height: 75px;
    /* border:  1px solid red; */
}

.icon2 h2::before{
    display: flex;
    content: url(/images/icon-messages.svg);
    height: 75px;
    /* border:  1px solid red; */
}

.communities{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.communities .number h2{
    font-size: 70px;
    margin-bottom: 15px;
    /* border:  1px solid red; */
}

.communities .number p{
    text-align: center;
    color: hsl(0, 3%, 68%);
    margin-bottom: 80px;
}

/* primeira parte */

.bg-top{
    background-image: url(/images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    height: 150px;
}

.bg-botton{
    background-image: url(/images/bg-section-bottom-desktop-1.svg);
    background-repeat: no-repeat;
    height: 200px;
}

.together{
    height: 400px;
    width: 100%;
    background-color: rgba(163, 216, 242, 0.096); /*cor do centro das seções */
    display: flex;
    justify-content: space-around;
}

.together .text1{
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.together .text1 p{
    width: 500px;
    margin-top: 20px;
    color: var(--Very-Dark-Cyan);
}

.together .text1 h1{
    color: var(--Very-Dark-Cyan);
    font-size: 40px;
    font-weight: 700;
}

/* segunda parte */

.conversations{
    margin-top: 50px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.conversations .text2{
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.conversations .text2 p{
    width: 500px;
    margin-top: 20px;
    color: var(--Very-Dark-Cyan);
}

.conversations .text2 h1{
    color: var(--Very-Dark-Cyan);
    font-size: 40px;
    font-weight: 700;
} 

/* terceira parte */

.bg-top2{
    background-image: url(/images/bg-section-top-desktop-2.svg);
    background-repeat: no-repeat;
    height: 150px;
    margin-top: 100px;
}

.bg-botton2{
    background-image: url(/images/bg-section-bottom-desktop-2.svg);
    background-repeat: no-repeat;
    height: 200px;
}

.description h2{
    margin: 50px;
    color: var(--Very-Dark-Cyan);
    font-size: 30px;
}

/* footer */

footer {
    background-image: url(/images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    height: 200px;
}

.inf-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 600px;
    border:  1px solid red;
}