*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    margin-bottom: 150px;
    /* border:  1px solid red; */
}

.header button{
    border: 1px solid var(--Pink);
    border-radius: 50px;
    width: 150px;
    padding: 10px;
    color: var(--Pink);
    background-color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.description{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description h1{
    font-size: 50px;
    color: var(--Very-Dark-Cyan);
}

.description p{
    /* border:  1px solid red; */
    /* font-size: 15px; */
    color: var(--Very-Dark-Cyan);
    text-align: center;
    width: 35%;
    margin: 40px;
    font-weight: 400;
}

.description button{
    border-radius: 50px;
    width: 300px;
    padding: 20px;
    color: var(--Pink);
    background-color: var(--Pink);
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.mockups{
    background-image: url(/images/screen-mockups.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width: 100%;
    height: 850px;
    margin-bottom: 80px;
    /* border:  1px solid red; */
}

.icon1 h2::before{
    display: flex;
    content: url(/images/icon-communities.svg);
    height: 75px;
    /* border:  1px solid red; */
}

.icon2 h2::before{
    display: flex;
    content: url(/images/icon-messages.svg);
    height: 75px;
    /* border:  1px solid red; */
}

.communities{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.communities .number h2{
    font-size: 70px;
    margin-bottom: 15px;
    /* border:  1px solid red; */
}

.communities .number p{
    text-align: center;
    color: hsl(0, 3%, 68%);
}

.bg-top{
    background-image: url(/images/bg-section-top-desktop-1.svg);
    /* border:  1px solid red; */
    background-repeat: no-repeat;
    height: 200px;
}

.bg-top img::after{
    background-image: url(/images/bg-section-bottom-desktop-1.svg);
    background-repeat: no-repeat;
    height: 600px;
    border:  1px solid red;
}